<!DOCTYPE html>
<html>
  <head>
    <title>mist9</title>
  </head>
  <body>
    <header id="header">
      <h1>mist9</h1>
      <span>.</span>
    </header>
    <section id="content" class="static">
      <section class="project">
        <h2>Project Title<h2>
        <p>Some project description which was possibly written while someone
        was drinking.</p>
      </section>
    </section>
    <footer>
      <span id="legal">
        This is where mist9 legal info would go.. but serioulsy, it's under the
        <a href="https://raw.github.com/leeolayvar/mist9/work/LICENSE">
        MIT license</a>. Who the hell cares? Just don't blame me if mist9 runs
        <span class="code">rm -rf /</span>.
      </span>
    </footer>
  </body>
</html>